@page "/professor/add"

@using System.ComponentModel.DataAnnotations
@using Reto2G5.Enum;
@using Reto2G5.Helpers;
@using Reto2G5.Interfaces;
@using Reto2G5.Model;
@using Reto2G5.componets;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using System.Net;
@using System.Text;

@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager
@using System.Net.Http.Headers;


<div >
    <div class="container">
        <div class="row align-items-start">
            <div class="col"> </div>

            <div class="col"> </div>
        </div>
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col">
                <h3>Añadir Profesor</h3>
                    <EditForm Model=professorCreate >
                        <DataAnnotationsValidator />

                        <div>
                            <p>
                                <label for="id">User_Dni:</label>
                                <InputText @bind-Value=professorCreate.dni id="id" class="form-control" size=40 style="width:500px " />
                                <ValidationMessage For=@(()=>professorCreate.dni) />
                            </p>
                        </div>

                        <div>
                            <p>
                                <label for="password">PassWord:</label>
                                <InputText @bind-Value=professorCreate.password id="password" type=@tipo class="form-control" size=40 style="width:500px" />
                                <ValidationMessage For=@(()=>professorCreate.password) />
                            </p>
                            <p>
                                <button class="btn btn-outline-secondary" type="button" @onclick="mostrarPass">
                                    mostrar
                                </button>
                            </p>
                        </div>
                        <div>
                            <p>
                                <label for="nombre">Nombre:</label>
                                <InputText @bind-Value=professorCreate.name id="nombre" class="form-control" size=40 style="width:500px " />
                                <ValidationMessage For=@(()=>professorCreate.name) />
                            </p>
                        </div>
                         <div>
                            <p>
                                <label for="apellido">Apellido:</label>
                                <InputText @bind-Value=professorCreate.surname id="apellido" class="form-control" size=40 style="width:500px " />
                                <ValidationMessage For=@(()=>professorCreate.surname) />
                           </p>
                        </div>
                        <div>
                            <p>
                                <label for="email">Email:</label>
                                <InputText @bind-Value=professorCreate.email id="email" class="form-control" size=40 style="width:500px " />
                                <ValidationMessage For=@(()=>professorCreate.email) />
                            </p>
                        </div>
                        <div>
                            <p>
                                <label for="nationaility">Nacionalidad:</label>
                                <InputText @bind-Value=professorCreate.nationality id="nacionalidad" class="form-control" size=40 style="width:500px " />
                                <ValidationMessage For=@(()=>professorCreate.nationality) />
                            </p>
                        </div>

                        <div>
                            <p>
                                <label for="adress">Direccion:</label>
                                <InputText @bind-Value=professorCreate.addres id="adress" class="form-control" size=40 style="width:500px " />
                                <ValidationMessage For=@(()=>professorCreate.addres) />
                            </p>
                        </div>

                        <div class="row align-items-end">
                            <div class="col"></div>
                            <div class="col">
                                <button class="btn btn-danger" style="width:150px" @onclick="createUser">Añadir profesor</button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </EditForm>
                </div>
            <div class="col"> </div>
        </div>
    </div>
</div>


@code {
    [Inject]
    private ILocalStorage localStorage { get; set; }
    UserResponse userLocal = new UserResponse();

    string tipo = "password";
    public bool DeleteDialogOpen { get; set; }

    UserRequest userRequest = new UserRequest();
    ProfessorRequest professorRequest = new ProfessorRequest();
    ProfessorCreate professorCreate = new ProfessorCreate();
    

    protected override async Task OnInitializedAsync()
    {
        userLocal = IsDataNull.CreateInstanceIFIsNull<UserResponse>(await localStorage.GetValue<UserResponse>(ValuesKeys.Objeto));
    }

    async Task createUser()
    {

        userRequest.dni = professorCreate.dni;
        userRequest.password = professorCreate.password;
        userRequest.roleId = 2;

        HttpResponseMessage response = await Http.PostAsJsonAsync<UserRequest>(Endpoints.CreateUsers(), userRequest);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("usuario Creado");
            professorRequest.professorDni = professorCreate.dni;
            professorRequest.name = professorCreate.name;
            professorRequest.surname = professorCreate.surname;
            professorRequest.email = professorCreate.email;
            professorRequest.nationality = professorCreate.nationality;
            professorRequest.addres = professorCreate.addres;
            professorRequest.photo = "/9j/4AAQSkZJRgABAQEAeAB4AAD/4RDgRXhpZgAATU0AKgAAAAgABAE7AAIAAAAHAAAISodpAAQAAAABAAAIUpydAAEAAAAOAAAQyuocAAcAAAgMAAAAPgAAAAAc6gAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG5pIG5ldQAAAAWQAwACAAAAFAAAEKCQBAACAAAAFAAAELSSkQACAAAAAzY2AACSkgACAAAAAzY2AADqHAAHAAAIDAAACJQAAAAAHOoAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyMDIyOjEwOjI2IDEyOjI3OjAxADIwMjI6MTA6MjYgMTI6Mjc6MDEAAABuAGkAIABuAGUAdQAAAP/hCxlodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvADw/eHBhY2tldCBiZWdpbj0n77u/JyBpZD0nVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkJz8+DQo8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIj48cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPjxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSJ1dWlkOmZhZjViZGQ1LWJhM2QtMTFkYS1hZDMxLWQzM2Q3NTE4MmYxYiIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIi8+PHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9InV1aWQ6ZmFmNWJkZDUtYmEzZC0xMWRhLWFkMzEtZDMzZDc1MTgyZjFiIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iPjx4bXA6Q3JlYXRlRGF0ZT4yMDIyLTEwLTI2VDEyOjI3OjAxLjY2MDwveG1wOkNyZWF0ZURhdGU+PC9yZGY6RGVzY3JpcHRpb24+PHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9InV1aWQ6ZmFmNWJkZDUtYmEzZC0xMWRhLWFkMzEtZDMzZDc1MTgyZjFiIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPjxkYzpjcmVhdG9yPjxyZGY6U2VxIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+PHJkZjpsaT5uaSBuZXU8L3JkZjpsaT48L3JkZjpTZXE+DQoJCQk8L2RjOmNyZWF0b3I+PC9yZGY6RGVzY3JpcHRpb24+PC9yZGY6UkRGPjwveDp4bXBtZXRhPg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8P3hwYWNrZXQgZW5kPSd3Jz8+/9sAQwAHBQUGBQQHBgUGCAcHCAoRCwoJCQoVDxAMERgVGhkYFRgXGx4nIRsdJR0XGCIuIiUoKSssKxogLzMvKjInKisq/9sAQwEHCAgKCQoUCwsUKhwYHCoqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioq/8AAEQgAywDSAwEiAAIRAQMRAf/EAB8AAAEFAQEBAQEBAAAAAAAAAAABAgMEBQYHCAkKC//EALUQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+v/EAB8BAAMBAQEBAQEBAQEAAAAAAAABAgMEBQYHCAkKC//EALURAAIBAgQEAwQHBQQEAAECdwABAgMRBAUhMQYSQVEHYXETIjKBCBRCkaGxwQkjM1LwFWJy0QoWJDThJfEXGBkaJicoKSo1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoKDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uLj5OXm5+jp6vLz9PX29/j5+v/aAAwDAQACEQMRAD8AoIp24xinhT0pwGSBTwhRvWkAir2PJqTYDjK0qA54xUyqRyaQEewpjNSrHlc4Gak27j0qeOEHqKAI44+MdalCfMBip0hGcipVhI6jIpgV1h9DT1h+bJq0kYx92pkiH8QwPWgCi0RB4XihYieMY9KsXl5aWqkzTqg965nUPH2l2m5Im8wjuOaQHRC2YdqUQ846VxkfxHsGYeY7L746VJdeP9LYrtmbPsOtMDsNqLnJpqwqxyDmuVTx5C8YENvn3bvTV8dxI4+02ZVM8uj/ANMUAdXLb1EIF545qPS9fsdVXEEqk9gTz+VapgyC2OKYGSYVycCmvENo4rReMKeOajkjPYUAZvkY5AzSFB3FW2RvWo/KJoApshxwKiKBh05q4UIzioJFZe1AFSRMGptLGNZtP+uookWptLXOr2uf+eooA+g0P7tfoKKVD+7X6UUAfNwXJ4zU0aHuM05OvSpFHzUgGJEWb0qzHGM4JpyKcZ4NTxxc/MtAAsIJ46VYSHHekQdhVmOHJ5oAasPy1Okfy4xmnKgxxU8cff8AWgCJUEaFm4Hqa5/X/FdtYRkQjcyjBPvTfEmtfvPsdqT6OR2ri9SRGjbcCSB39aVxpXOX17xBf6rckM7Bc9B2rHFtI2S+f8a6q10tZR5sq8mtD+xI0jOUydpxSKscRbwYuAHA255rXGkqgDpyp9a0pNHCWzMq/Nmtixsd1sI5R24oAw7Sz8hcjLIexPSrb2SeVvAyO471fhsSkjQv0B4pbmDyWzGelAHPTxT2h+1WEjIyntXeeCfHB1FRZ3+DOo5Y965W44+dMbT95fWsKbzLG8+0WbbHU7lx39qdxNHvzqrrvXkGomiJHA/GsrwV4hi8QaOHYgXEQ2yJ7+tdC0YUbRn3qiTO8r1qF0I6CtB4+OtQPHx1zQBnsnU1WmDcACr8qY7VWZRvAJoApujA8rUumD/ib2v/AF1FSTrlsdqNOULq1r/10FAHvSfcX6UU5PuL9KKAPnhVNWI4+OlMQZx1q3CnfNIASPFWo4/WkRQWqyvbj8aAGJEAwzwKtxw4BPamqu7HHNWkVgPagBqwjAOeBVDxBqkemaeQv+ucYQVqEIib34VeTXmGuaq2o6zK6nManalK9ikrka7pJiz5P8TH1NV9TXEIZhgtwKsWrgQsSeSap6pOGkjV/wCHkipLLOnWjTKkSDJxk1qSQBYwMVq+FdKC6E11IPnkBYE9vaqN/hZCg6YJFRzXZpy2KMltm0mBXvmlVBsIT76jIqZ3/c8nqOazRdiOfr2q0Q4ly4CSW6TIMf3qzZ7hFk2t0YdaibUkiZombKHpWTeXgYFc85yDTJHXbkSY7CsvUNpj3qPu0+a+Eo6/MBVV7gSwsD19KYi54V119C16K43HynYLIB0xX0HGY7u1SeJtyOoZSO4r5ihHJB7mvcfhtrBvPD62szZeA7B64oEzp/L6k1BJGD93itGVBuwKqyREH2qiTOdcnBqtPGAeK0JI8Hiq0y+ooAoSDOKdYkDVLXI/5aCpGQUaeANVtsj/AJaCgD3FT8g+lFCt8o47UUAeAx7mwOlW44yR61BEnSr0a/KCKkY+OPpxV1Ixio4lYsKtKhFMQqqQOlTqPk96RV+XNSxigDE8WX503w7M44Z/kH48V5H9uVVZuMgZNdp8XtW+xWdraK3zSHcRXjyXruzKW4Y5NSy0dR/a2IOD3ognbVtWigiyxcquB6Vykl4WOxDx1zXXfD+9i0/UzezwmYJyuFzUz0RpT1Z7hdaYdN8NwLGv3YwD+Veb6hejcGPXGD7V1F18TH1GJrZbBkjxzkVwviCCbeZrdGCvyFrnjudMk7EljfrdNNaM3zYynvWFNfbbqWCQ7WUY5rEF/Nb6groxSROaqajcy3c7TjIbuB3roWhjuXdRu2Rhg5296om/eXPPOKjggudRGxfmb3qCezuLZ9rqcr6VWhk0yU3GVznBzzTrabE+xuhqqy8A9PUU9W/dg9170yLl9CsVwCema7v4fagbTXQmcJMuSPevPpD5tuGHWt7w9eeTewuTt8tgSfamB9D/AHwD2YcGmOoPyk0mnSw3FjHIr5DKMVPLHtXKnNMkz5I8Nz0qvMoq44OOeagkQenNAGdIm48Cks0/4mlv/wBdBU7KBmizGdSt/wDroKAPZFHyjntRSjG0fSigDwqMEYxV2NBwRVWPkggcVdhJ24AxUoZZRsCrUfzCoETpxVkDGAOKYiVR8ue1TRADHvUUanOT0p8zNHC2wZOOKAPBvizqLX3ikxpzHENqmuCwyZz3rt/H8Kw6u2WGSMn65NcNNMN2B+PvSKLtpZyXUnlwKWbbkgeld54ViubeOO2QxwbuXkkHSl+DmhNrep3chUMkabckfSu81H4XvNqSSy3LCFDnygvBrnlJXszrpw925UeC2hVZI9Ttbp+jpnB/CrVjbwancRw9exz1FQN8NRNfb7eYJBvz5Wzp+NdroPhJNKl8xpDISRtBH3ayml0Z0Qk9mjy34ifDwaWwvrRf3bdQBXCpp7qqsQdzcZxX0r49gE2mxQsoIbrXIw+D7G6jhYxkvGdwCnFVGdtCXFNXR4xHBbaTOzXDTYB5KjFW4GtNSn8uOTeGGRuHIr1jU/A8GpX32mWw8yQ9hwD2qS0+Hmn2bi4kt0jfsqiqc0RGm+p4Tq2ky2zFwh2E9azhhY8Hqa958UeFLW7010gXayjIArxHVbBrKeRWXGw81rCV9zCrTtqJbkeX5b9avWRCOUJwSOtYoZpgrR1pWwYKD1rQxR7t4F1L7XosaOwLx8YFdScsK8s+HF55N40eflI6V6uANoIPUU0SyuyccVWl54FXhGW61BJCq5yaYjLlTnpSWS41O3/66CrjRKFznNR2m1dQgGM/vBQB64PujntRQB8o+lFAHiMRVsY4q7GlVYwMjAq5GDUDLUIB71Pz27VBEcYqxvx0FUIliPepH+eNwOuKYjYTpUnBVieOKBnzv8S4JV8QzFhgA8CuCYMea9P+I5E+vzJwccZrgLiAI20CpH0Pav2eZETSr9h99pAp+mBXvC7GhywB47ivnH9n+78rV9TtGPy7A6j3yBXuk+prEpy2FHvXLU0kd1NN00X2MXmYWNQPpSoFkcYOQD0x0rlU8RW9zqP2S33SOOTioNS+JOnaPqK2Misko65U1ne5s4tHQeKIRIqhh8oFcvpd/Guo+QFZMnAJHBrO8S/Ei2EAf76kcAVzlv46h1a4hjt0xKxwuB92m11COisz2OGRVTLYPHWsnU5kOexrmD4mm0+RYb8FVb7r0y91mOSMsr59CD1pFWJL4lCxzkEV4h44lAvZowPmZjXsX2v7TBgHJrxvxjGT4inDfw10UzlrHM6aSkhB+7WxaqXV1HXNZSjYx+taultmZx75rc5EdV4GvGg1aLd0ZtpzXuFsSYV8z0614FoJ8rVNg7tlT6Gvc9MkZ7GIHkgc0IUi8WxwKrydeTU7OvOBUEjAmqJK7BQTzzTbU51CDOPvinNtzSWxB1KDj+MUAesAfKPpRSqflH0ooA8ViI2jPNXYznoM1ShbacVeiA6jipQyyg4GRT1PJpIyKeF+amBYjGABUN9cLa2LySEDAPOakThs9a5HxvqZhtRAh4xz70mCWp5V4huPtmrTyZyWk4+lc5qAAlJHrx7cVqzzE3yk/wATj+dZep/65+ON1JFvY6r4RXX2PxnIgOPOgIHuev8ASvQ/FPiOa1t3SINuIxn3rxzwhf8A9meLrGdjhfM2n6Hj+te93ekw6gJEdFO9QyN69DXLW0kduHl7tiL4bxxC2a5uJB9oflixFb+u6Bpmqs0pktmnYfeyM1w3iXwpqcFjHc6BO8ZUDfGpPNdBo/gCSTTLee91uSGWVAWUt0/Oo5ToWu5ymp+BSsxZ7uPy+oG7NP03SdM0+QO80SuvGRXZ3XgGxXzxL4gYDGUBdeK4q/8AC+nKzhdVaZgh6HvVJX0YlZ7FvWtU0yS0MbzJIccc1zOmPPcXLxROXjwSD6VmnwZcXWoj/SmEAOepya9E0/SLbSrH5VG5I8k96UkoC1M7SmcTmNv4eteY/EWXyfFEyxnlgP5V6hZSr5jynjJrx7xndi/8WXDg/KrY/KtqWpyVmZiMSV3+nNaOlZaXcO5rJ3fvPatzQovnUHuetdDOVHQWUfl6huTjDV7Lo1zv0+Nx1K/MfWvE7a5B1aVVbgNx71614PdptPXJyucZqUU9jp2bIwBmmNFleeKkfkZUEUwgkdaszKkgKk0tpn7fb5/vinzAdqbaDN/B/vigD1hR8o+lFC/dH0ooA8Qjboa0YWG0bqzIe2a0ITjg1Owy9Fx1FPRwXK9DUSSccinofmzj60wJXOyNiDx0ryrxhqnn6m8S8hK9F1y6+yaVLKTtCjivENTvS3nTNnMhNSy4mNLLuvI/9/8ArUOqHExHqc012OfMHXNNvpF+Uv1x1pDZQkdopUdOGUgivoPwRr6694ctpt376BQjD6cV8+vhzwS1dT4A8SNoGrCKV/8ARpmww96irHmRdGXKz6VjQTWisv3WXP0rGmmVSE1OJpo0PysrEfyrU8PXEVzCEDbkYblNLeafO0rIEBUmuWNz0YTSWpzM974eEjMNOnd++6RiD+tZszRXEm2xskgQ8ZKjNdfJ4f8Aky0S5rFvdJuQ223GTnnHaquPmS2Rm29klvJvc7iBuPpxUV/cyHR5HPDXD4UegH/6q15tOFrYlJW3SP8AermfEOoxRoqK2EiXGKVrsycjE1jVU0zS3I+9txXkM8xluZJmOWc10PiTVnvZCit8grmQCTXXTVkcVV3ZNGpP51v2bfZ4Q3TC5NY1vHjGatzXObOTH8R21Zkie2udknm5+Zm4r2j4eXRuNJlAb7jbv0rwWCQmUL6HAr2b4VT5M0Y6MOlIb2PUScxhl5yKrO4AOBUiOVUoRjHSomOV5qzMhZgTTrcYvrfH98VE2Rmm2sn/ABMYOf8AloKAPXF+6PpRSDoOaKAPD4mXAxV23J3ZNZsIx+I4q7GxUYNSM0kfceOKeGwvP5CqseGAINWQ3lxFmHT1pgcV8SNZFvbwWQbDuNzY/SvKr6YMFjzkdTWp481Y3niO4KvuVW2j2xXJz3Dbs5zxzUstbD5Jf3ZOehqpPP5gGaYZf3RFQr8wp2ETxv2pHfDkjg9qizjBFB7UXFY95+HWs3UPhe0uGdpBGdrfhXp9t4osLqFXMoBxzmvJvhPifwc0bc/vW/mavavp0truktmKj+6K4paM9CnsejXHiOx+6JwfxrJ1LxVZWy/umG4jtXlsupPG2JQQR71n3Wrnnb+dCVy7pHW634pJjZt/X3rzvVdWlvpSqscVWvLyW5kwzE5qW1sTt3MOtbJWMZamFfxeXHyOtUY1/OtvWodoOO1YW4qa1WxyyWpYd9ij1xTZsrZKRVfeXbntWskAfTASO+KZBl2jASrnrnNeofDe8a01LrjdivLo1MdwYz1rufBV15eqwox+8eKYz3xiCUfP3hTWRjnFRxXCtbwq3GMU+ST5jg1RBCy4BzUNuR/aUH/XQUtxKWPcVDZn/iZwbv8AnoKAPYh90fSihT8o+lFAHg8T4APtVmJyTnJrLilO4DtVyKYDIxmpGa8J3DJ4NLfTMlnIx5CoSaqRS5ov5N2k3XXIiOKAR8+3+brVyA2WkfkVm3QMckiHqGxVpYyZp2yd8ZyKosfMlJ7nk0FDAp20qDrUjfSm4KjJGM0hjcZWkY/LTPM25qWwtZtQu0hiBO5sGm9EJas9r+ESNF4VJb+KQkfma7HUbfzo/wAKoeE9L/s3QLaFR91Ru/KtuUDy847VwS1Z6EdEeca3phyzAGuTuYHRytepalbpICcVy91pyNIflqoyBo5G3tCZQWFa6xbU6VcexEfIGKRIMtWjkRY5rWLfdC5rkJPlkK16ZqNjutWKjmvOr+Ax3DjFawdzCpEqxZ82umtsf2aOPusCa5qPhgT2roreQNpcmDztrQxSM/VrcRSJcRfder2gXfl3tu4ODvFQLILi2aN+VIzVa1DW82M8qcigZ9KWbpPpNvKOSQv86tO425A5rm/B+ofbPDNt82SvBrelcgeoqiGRzNzknFMsxu1O3wf+WgpkrZosmI1S3/66CgR7Oo+UfSinKflH0ooA+d1+6DjFWYG2ryetUY3baATmp4iR71IamnGcMDmru0S20kY6Mp61lRzAcDk1oWwlf5k4x61LkolqMmeBaxbyadrV3A67TvYZ+tZCuI5mbbuGMYr2jx/4asRZS6k6/v5CFGO5rA0L4ewX2ix3Lsd8hqXPS6NvZM81Zg3zL+Iou50nWNYVbcFweK9On+HUC/LyB6iuh0T4faMsarNFvbuTUuqkP2LZ4rYaNPeOAEJ57CvT/B3hAWuJpk+btkV6Bb+A9NhwbdAlblnoMdsvy81nKpzGsaSQllbGKxwF7Ux4SYc47VtLBiPYORUU0ISEisrGpxl5bOzEDpWd/Zju54zXXTWm/wC6KQWaxRM3fFA7nn+qW/kfKRyagtLJiAzA4rpLnS3urwvJ93PSpWsQibUXpTIZzs9mDGQB1rz7xHozxTM6qcGvWWt2DYMZNZOp6I16pCxkcd6qErMmUbo8PaMqSCK0dMlyvlN9MV1Op/D7UpGZ7aDP0IrnZdA1fTJsz2UgweoGa6edM5nCSM8s1rMyt93dxVqKVHAyefWi+tZXIfyX/wC+aqx2F31jglP0U1V1a5NmeqfDPU8GWzkOQMsv5V6Hv3468da8G0HU7zw/fpcTQSKMjO5T0r17TvE9nfwrJFKgZ15TpiqWqM2maUsuDTbJy2rW2OnmComlSXkGiw3Lq1txx5gpiPdFHyj6UUL90fSigWp84QvuFSx7i+FOapoccjirFlJmQmsZy5UbU48xu6fZLne/LVtRRjoB+VY9teBcCtGK7HbvXE5Ns7kkjl/ifJ5WmWcIP+scn8sVveFLVR4UswR1TNcl8Trgy3NhD6Kx/lXbaIfI8OWiHqIxW70pldBZ7dWYjAp1rZ7eV4qRV3tmr8ChQARWG4dBIfMTg1ehc9KiAGc4qWPK8irSFoWgfl4qvNG0nHap1b5cmjPrTIuV0hCLgjNQSxggjFXmIxxVWToaB3Mx4FHaq7oq9qvy9KqSJuoKK3yhc7BUEh7gfpV4KMYqvKg7UAZ0s0gbCjHvUFxmeMpIFP1FXJk4zVRj81IDLXRonl+aFW/4DW9Y6bbQRjMEfByPkFMicVT8Ua2NG0KWVWxO4KR47kinHmbsiWkzjfHXiBLu+/syyijaOMgMyxjLGr2heG4LazS4uwTOwztHGBWP4P0g6pqEl/dDckZ3ZPQt1rtpVLdOB6VvUly2SFyxGidIwBjaF6Yqxp0m/VrYhs/vRWc67Aak0lj/AGvbbT/y1FKFR3sYTpK1z6IT7i/SilT/AFa/QUV03OY+Yi2EYjpin2UhCE16E3h3SSnNjH09/wDGkt/DukheLGP9f8awqxua05WOShkJAxWpZsd3PNdLHoOljGLOP9auQaNp6kbbVBz71zOk0dXtEeOeOnNx4mtYF5wgH516BahhZwxjsgqfUfDmkTeI45JbGNnBGCc/411C6RYBRi2QY+tazi7WD2pz0PC/SrUcnNbq6ZZ4";

            HttpResponseMessage responseP = await Http.PostAsJsonAsync<ProfessorRequest>(Endpoints.CreateProfessor(), professorRequest);

            if (responseP.IsSuccessStatusCode)
            {

                eMailModel mail = new eMailModel();
                mail.recipient = professorCreate.email;
                mail.subject = "Creacion de Usuario";
                mail.msgBody = " Bienvenidal al sistema " + professorCreate.name + "\n Su cuenta ha sido creada con exito.\n en breve recibira confirmacion de la activacion de su cuenta.";

                
                HttpClient HttpClP = new HttpClient();
                var responseMP = await HttpClP.PostAsJsonAsync<eMailModel>(Endpoints.SendMail(), mail);

                if (responseMP.IsSuccessStatusCode)
                {
                    Console.WriteLine("EMail enviado");
                    NavManager.NavigateTo("/fetchProfessordetails");
                }
                else
                {
                    Console.WriteLine("Something went wrong");
                }
            }
            else
            {
                if (((int)responseP.StatusCode) == 400)
                {
                    HttpClient client = new HttpClient();
                    client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", userLocal.accessToken);

                    HttpResponseMessage responseDel = await client.DeleteAsync(Endpoints.DeleteUsers(professorCreate.dni));

                    if (responseDel.IsSuccessStatusCode)
                    {
                        Console.WriteLine("ha borrado el usuario");
                    }
                    else if (((int)responseDel.StatusCode) == 204)
                        {
                            Console.WriteLine("usuario no existe");
                        }
                       
                    
                    
                }
                if (((int)responseP.StatusCode) == 409)
                {
                    Console.WriteLine("usuario ya registrado");
                }
                else
                {
                    Console.WriteLine("Something went wrong");
                }
            }
        }
        else
        {
            if (((int)response.StatusCode) == 401)
            {
                Console.WriteLine("no puede hacer eso");
            }
            if (((int)response.StatusCode) == 409)
            {
                Console.WriteLine("usuario ya registrado");
            }
            else
            {
                Console.WriteLine("Something went wrong");
            }
        }

    }

    private void mostrarPass()
    {

        if (tipo == "password")
        {
            tipo = "text";
        }
        else
        {
            tipo = "password";
        }
    }

}