@page "/user/add"


@using System.ComponentModel.DataAnnotations
@using Reto2G5.Model;
@using Reto2G5.componets;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using System.Net;
@using System.Text;

@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager



<div >
   

<div class="container">
    <div class="row align-items-start">
        <div class="col"> </div>
       
        <div class="col"> </div>
    </div>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <h3>Añadir Usuario</h3>
                <EditForm Model=userRequest >
                    <DataAnnotationsValidator />
                   
                    <div>
                        <p>
                            <label for="nombre">User_Dni:</label>
                            <InputText @bind-Value=userRequest.dni id="nombre" class="form-control" size=40 style="width:500px " />
                            <ValidationMessage For=@(()=>userRequest.dni) />
                        </p>
                    </div>

                    <div>
                        <p>
                            <label for="password">PassWord:</label>
                            <InputText @bind-Value=userRequest.password id="password" type="password" class="form-control" size=40 style="width:500px" />
                            <ValidationMessage For=@(()=>userRequest.password) />
                        </p>
                    </div>
                     <div>
                        <p>
                            <label for="roles">Role:</label>
                            <InputSelect class="form-select" @bind-Value="userRequest.roleId" >
                                <option value="0" selected>Elige un Rol</option>
                                @foreach(var rol in roleList)
                                {
                                    <option value="@rol.roleId">@rol.role</option>
                                }

                            </InputSelect>
                        </p>

                    </div>

                    <div class="row align-items-end">
                        <div class="col"></div>
                        <div class="col">
                            <button class="btn btn-danger" style="width:150px" >Ir</button>
                        </div>
                        <div class="col"></div>
                    </div>
                </EditForm>
            </div>
        <div class="col"> </div>
            <p>@errorMessage</p>
          
    </div>
    
</div>

</div>


@code {


    UserRequest userRequest = new UserRequest();
    protected List<RoleModel> roleList = new();
    String errorMessage;

    protected override async Task OnInitializedAsync()
    {
        await GetRoles();
    }


    protected async Task GetRoles()
    {
        roleList = await Http.GetFromJsonAsync<List<RoleModel>>(Endpoints.GetRoles());
    }

    //async Task createUser()
    //{


    //    var response = await Http.PostAsJsonAsync<UserRequest>(Endpoints.CreateUsers(), userRequest);

    //    if (response.IsSuccessStatusCode)
    //    {


    //        NavManager.NavigateTo("/fetchuserdetails");


    //    }
    //    else
    //    {

    //        if (((int)response.StatusCode) == 401)
    //        {
    //            errorMessage = "usuario ya registrado";
    //        }
    //        else
    //        {
    //            errorMessage = "Something went wrong";
    //        }
    //    }
    //     errorMessage = " usuario creado";
    //}


   

       
}