@page "/"
@using System.ComponentModel.DataAnnotations
@using Reto2G5.Model;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using System.Net;
@using System.Text;

@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>


<div >
   

<div class="container">
    <div class="row align-items-start">
        <div class="col"> </div>
        <div class="col">
            <div class="text-center">
                <p><img src="css/img/logoDI.png" /></p>
            </div>
        
        </div>
        <div class="col"> </div>
    </div>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
                <EditForm Model=userRequest OnValidSubmit="SumitForm" OnInvalidSubmit="invalidSumitForm">
                    <DataAnnotationsValidator />
                   
                    <div>
                        <p>
                            <label for="nombre">User:</label>
                            <InputText @bind-Value=userRequest.dni id="nombre" class="form-control" size=40 style="width:500px " />
                            <ValidationMessage For=@(()=>userRequest.dni) />
                        </p>
                    </div>

                    <div>
                        <p>
                            <label for="password">PassWord:</label>
                            <InputText @bind-Value=userRequest.password id="password" type="password" class="form-control" size=40 style="width:500px" />
                            <ValidationMessage For=@(()=>userRequest.password) />
                        </p>
                    </div>

                    <div class="row align-items-end">
                        <div class="col"></div>
                        <div class="col">
                            <button class="btn btn-danger" style="width:150px" @onclick=login>Ir</button>
                        </div>
                        <div class="col"></div>
                    </div>
                </EditForm>
            </div>
        <div class="col"> </div>
            <p>@errorMessage</p>
            <p>@userResponse.accessToken</p>
          
    </div>
    
</div>

</div>

@code {


    UserRequest userRequest = new UserRequest();
    UserResponse userResponse = new UserResponse();

    String errorMessage;


    async Task<UserResponse> login()
    {


        var response = await Http.PostAsJsonAsync<UserRequest>(Endpoints.Login2(), userRequest);

        if (response.IsSuccessStatusCode)
        {

            userResponse = JsonSerializer.Deserialize<UserResponse>(response.Content.ReadAsStringAsync().Result);
            funciones.token = userResponse.accessToken;
            NavManager.NavigateTo("/fetchuserdetails");
            return userResponse;

        }
        else
        {

            if (((int)response.StatusCode) == 401)
            {
                errorMessage = "Incorrect user or password";
            }
            else
            {
                errorMessage = "Something went wrong";
            }
        }
        return null;
    }

    public static class funciones
    {
        
        public static string token { get; set; } = string.Empty;


    }

    void SumitForm()
    {
        
    
    }

    void invalidSumitForm()
    { }

    }