@using Reto2G5.Model;
@inherits LayoutComponentBase

<div class="page">

    <div class="row">
        <div class="col-12">
            <div class="sidebar">
                <NavMenu />
            </div>
        </div>
    </div>
    

    <main>
      
        <article class="content px-4">

            
                @Body
            
          
        </article>
    </main>
</div>

@code {

 


}